<template>
  <div class="price-total row mt-3">
    <dt class="col">{{ label }}</dt>
    <dd class="col text-right">{{ total.toLocaleString() }}</dd>
  </div>
</template>

<script>
export default {
  name: 'PriceTotal',
  props: {
    label: {
      type: String,
      default: 'Total',
    },
    total: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style lang="scss" scoped>
.price-total {
  > dt {
    font-weight: 700;
  }

  > dd {
    font-size: var(--price-total-font-size);
    font-weight: 700;
    &:before {
      content: '$';
      font-size: var(--price-total-sign-font-size);
      font-weight: 700;
      vertical-align: super;
      margin-right: 0.25rem;
    }
  }
}
</style>
