<template>
  <dl class="price-detail px-4 pt-4 mb-4">
    <price-detail-item :label="'Qty'" :value="detail.quantity.toString()" />
    <price-detail-item
      :label="'Subtotal'"
      :value="`$ ${detail.price.toLocaleString()}`"
      :cmpClass="'subtotal'"
    />
    <price-detail-item :label="'Shipping'" :value="shippingValue" />
    <price-detail-item :label="'Promo code'" :value="promoValue" :cmpClass="'promo'" />
    <price-total :label="'Total'" :total="calculateTotal" />
  </dl>
</template>

<script>
import PriceDetailItem from './PriceDetailItem.vue';
import PriceTotal from './PriceTotal.vue';

export default {
  name: 'PriceDetail',
  components: {
    PriceDetailItem,
    PriceTotal,
  },
  props: {
    detail: {
      quantity: {
        type: Number,
        default: 0,
      },
      price: {
        type: Number,
        default: 0,
      },
      shipping: {
        type: Number,
        default: 0,
      },
      promo: {
        type: Number,
        default: 0,
      },
    },
  },
  computed: {
    calculateTotal() {
      return this.detail.price * this.detail.quantity + this.detail.shipping - this.detail.promo;
    },
    shippingValue() {
      return this.detail.shipping > 0 ? `$ ${this.detail.shipping}` : 'Free';
    },
    promoValue() {
      return this.detail.promo > 0 ? `- $ ${this.detail.promo}` : '---';
    },
  },
};
</script>

<style></style>
