<template>
  <div class="price-detail-item row">
    <dt class="col">{{ label }}</dt>
    <dd class="col text-right">{{ value }}</dd>
  </div>
</template>

<script>
export default {
  name: 'PriceDetailItem',
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    cmpClass: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.price-detail-item {
  > dt {
    font-weight: normal;
    color: var(--price-detail-item-color);
  }

  > dd {
    font-weight: 700;
  }
}
</style>
