<template>
  <div class="product-image mb-5">
    <img :src="image" :alt="alt" class="w-100" />
  </div>
</template>

<script>
export default {
  name: 'ProductImage',
  props: {
    image: {
      type: String,
      default: '',
    },
    alt: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped></style>
