<template>
  <b-container fluid id="app" class="test-alayacare-vue">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <b-row align-v="center" class="vh-100">
      <b-col md="6" lg="7" xl="8">
        <product-image :image="require(`./assets/${product.image}`)" :alt="product.name" />
        <product-detail :detail="product.detail" />
      </b-col>
      <b-col md="6" lg="5" xl="4">
        <product-heading :name="product.name" :motor="product.detail.motor" />
        <price-detail
          :detail="{
            quantity: quantity,
            price: product.price,
            shipping: shipping,
            promo: promo,
          }"
        />
        <payment-credit-form />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue';
import ProductImage from './components/Product/ProductImage.vue';
import ProductDetail from './components/Product/ProductDetail.vue';
import ProductHeading from './components/Product/ProductHeading.vue';
import PriceDetail from './components/Price/PriceDetail.vue';
import PaymentCreditForm from './components/Payment/PaymentCreditForm.vue';

export default {
  name: 'App',
  components: {
    // HelloWorld,
    ProductImage,
    ProductDetail,
    ProductHeading,
    PriceDetail,
    PaymentCreditForm,
  },
  data() {
    return {
      product: {
        name: 'ZAZ 966 B',
        image: 'credit_card_checkout-car.png',
        detail: {
          mileage: 25000, // km
          transmission: 'manual',
          driveUnit: 'front',
          body: 'coupe',
          color: 'black',
          dailyUI: '#002',
          motor: '1L',
        },
        price: 1450,
      },
      quantity: 1,
      shipping: 0, // free
      promo: 100, // positive: (-) sign / 0 or negative: (---) as value
    };
  },
};
</script>

<style lang="scss" scoped></style>
