<template>
  <b-col cols="5" md="7" class="payment-credit-holder">
    <label for="credit-holder" class="d-block mb-0">Cardholder name</label>
    <b-form-input
      v-model.lazy="$v.holderName.$model"
      @blur="blurHandler($v.holderName)"
      v-bind="holderNameValidationState"
      placeholder="as shown on card"
      id="credit-holder"
      aria-describedby="input-live-feedback"
    />
    <b-form-invalid-feedback id="input-live-feedback"
      >Required (length of 3-30 letters)</b-form-invalid-feedback
    >
  </b-col>
</template>

<script>
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditHolder',
  props: {
    holderHandler: {
      type: Function,
      default: () => ({}),
    },
  },
  data() {
    return {
      holderName: '',
      reName: /^[a-zA-Z-\s]{3,30}$/, // char allowed: alpha, space and hyphen, length: 3-30 chars
      holderNameValidationState: {},
    };
  },
  validations: {
    holderName: {
      required,
      isNameValid(name) {
        const isValid = this.reName.test(name);

        if (isValid) {
          this.holderHandler(name);
        } else {
          this.holderHandler(null);
        }

        return isValid;
      },
    },
  },
  methods: {
    blurHandler($v) {
      if ($v.$dirty) {
        this.holderNameValidationState = {
          state: !$v.$invalid,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-holder {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
