<template>
  <form
    @submit.prevent="submitHandler()"
    novalidate
    role
    autocomplete="off"
    class="payment-credit-form mb-5"
  >
    <div class="px-4 pt-5 pb-3">
      <h3 class="mb-4">Payment detail</h3>
      <b-row class="justify-content-between mb-4">
        <payment-credit-number
          :numberHandler="creditNumberHandler"
          :typeHandler="creditTypeHandler"
        />
        <payment-credit-expires :expiresHandler="creditExpiresHandler" />
      </b-row>
      <b-row class="justify-content-between mb-4">
        <payment-credit-holder :holderHandler="creditHolderHandler" />
        <payment-credit-cvc :cvcHandler="creditCvcHandler" :creditType="creditType" />
      </b-row>
    </div>
    <base-button-submit
      :cmpClass="'payment-button-purchase'"
      :isFormValid="isFormValid"
      :label="'Purchase'"
    />
  </form>
</template>

<script>
import PaymentCreditNumber from './PaymentCreditNumber.vue';
import PaymentCreditHolder from './PaymentCreditHolder.vue';
import PaymentCreditExpires from './PaymentCreditExpires.vue';
import PaymentCreditCvc from './PaymentCreditCvc.vue';
import BaseButtonSubmit from '../Base/BaseButtonSubmit.vue';

export default {
  name: 'PaymentCreditForm',
  components: {
    PaymentCreditNumber,
    PaymentCreditHolder,
    PaymentCreditExpires,
    PaymentCreditCvc,
    BaseButtonSubmit,
  },
  data() {
    return {
      creditType: '',
      creditNumber: null,
      creditExpires: null,
      creditCvc: null,
      creditHolderName: null,
    };
  },
  computed: {
    isFormValid() {
      return (
        this.creditNumber !== null &&
        this.creditExpires !== null &&
        this.creditCvc !== null &&
        this.creditHolderName !== null
      );
    },
  },
  methods: {
    creditTypeHandler(val) {
      if (val !== this.creditType) {
        this.creditCvc = null;
      }

      this.creditType = val;
    },
    creditNumberHandler(val) {
      this.creditNumber = val;
    },
    creditHolderHandler(val) {
      this.creditHolderName = val;
    },
    creditExpiresHandler(val) {
      this.creditExpires = val;
    },
    creditCvcHandler(val) {
      this.creditCvc = val;
    },
    submitHandler() {
      // send credit detail to an endpoint
      alert('Submit form to an endpoint');
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-form {
  background-color: var(--payment-credit-bg-color);
  > form {
    > ul {
      list-style-type: none;
    }
  }
}
</style>
