<template>
  <b-col cols="3" md="4" lg="4" xl="3" class="payment-credit-expires">
    <label for="credit-expires" class="d-block text-right mb-0">Expires</label>
    <b-form-input
      v-mask="expiresMask"
      v-model.lazy="$v.expiresDate.$model"
      @input="inputHandler"
      @blur.native="blurHandler($v.expiresDate)"
      v-bind="creditExpiresValidationState"
      type="tel"
      placeholder="mm / yyyy"
      id="credit-expires"
      aria-describedby="input-credit-expires-feedback"
    />
    <b-form-invalid-feedback id="input-credit-expires-feedback" class="text-right"
      >Date invalid</b-form-invalid-feedback
    >
  </b-col>
</template>

<script>
import { mask } from 'vue-the-mask';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditExpires',
  directives: {
    mask,
  },
  props: {
    expiresHandler: {
      type: Function,
      default: () => ({}),
    },
  },
  data() {
    return {
      expiresDate: '',
      expiresMinLength: 6,
      expiresMask: '## / ####',
      creditExpiresValidationState: {},
    };
  },
  validations: {
    expiresDate: {
      required,
      isMinLength(val) {
        return this.getDateStripped(val).length === this.expiresMinLength;
      },
      isDateValid(val) {
        const valStripped = this.getDateStripped(val);

        if (valStripped.length === this.expiresMinLength) {
          return this.isExpiresPostdated(valStripped);
        }

        return false;
      },
    },
  },
  methods: {
    getDateStripped(val) {
      return val.replace(/[\s/]/g, ''); // remove spaces and slash
    },
    isExpiresPostdated(val) {
      const mm = val.slice(0, 2);
      const yyyy = val.slice(2);
      const dd = new Date().getDate(); // day of current date (today)
      const dateExpires = new Date(`${mm}/${dd}/${yyyy}`);
      const today = new Date();

      return dateExpires > today; // expires date must be after current (today) date
    },
    inputHandler(val) {
      const valStripped = this.getDateStripped(val);

      if (valStripped.length === this.expiresMinLength) {
        if (this.isExpiresPostdated(valStripped)) {
          this.expiresHandler(valStripped);
        } else {
          this.expiresHandler(null);
        }
      } else {
        this.expiresHandler(null);
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        this.creditExpiresValidationState = {
          state: !$v.$invalid,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-expires {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    text-align: end;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
