<template>
  <b-col cols="5" md="7" :class="`payment-credit-number`">
    <label for="credit-number" class="d-block mb-0">Card number</label>
    <b-form-input
      v-mask="creditMask"
      v-model.lazy="$v.creditDigit.$model"
      @input="inputHandler"
      @blur="blurHandler($v.creditDigit)"
      v-bind="creditValidationState"
      placeholder="0000 0000 0000 0000"
      id="credit-number"
      aria-describedby="input-credit-number-feedback"
    />
    <b-form-invalid-feedback id="input-credit-number-feedback">
      {{ creditFeedbackMessage }}
    </b-form-invalid-feedback>
  </b-col>
</template>

<script>
import { mask } from 'vue-the-mask';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditNumber',
  directives: {
    mask,
  },
  props: {
    numberHandler: {
      type: Function,
      default: () => ({}),
    },
    typeHandler: {
      type: Function,
      default: () => ({}),
    },
  },
  data() {
    return {
      creditDigit: '',
      creditType: '',
      creditMinDigit: 15,
      creditValidationState: {},
      creditFeedbackMessage: '',
      amexMask: '#### ###### #####', // 15 digits
      otherMask: '#### #### #### ####', // 16 digits
      reAmex: /^(34|37)/,
      reVisa: /^4/,
      reMC: /^5[1-5]/,
    };
  },
  validations: {
    creditDigit: {
      required,
      isMinLength(val) {
        return val.replace(/\s/g, '').length >= this.creditMinDigit;
      },
      isTypeSuported() {
        return this.creditType !== 'other' && this.creditType !== '';
      },
    },
  },
  computed: {
    creditMask() {
      return this.creditType === 'amex' ? this.amexMask : this.otherMask;
    },
  },
  mounted() {
    document.getElementById('credit-number').focus();
  },
  methods: {
    getCreditType(val) {
      switch (true) {
        case this.reAmex.test(val):
          return 'amex';
        case this.reMC.test(val):
          return 'mc';
        case this.reVisa.test(val):
          return 'visa';
        default:
          return 'other'; // unsupported
      }
    },
    inputHandler(val) {
      const valWithoutSpaces = val.replace(/\s/g, '');

      if (valWithoutSpaces.length <= 1) {
        this.typeHandler((this.creditType = null));
        this.creditFeedbackMessage = `Required (min length of ${this.creditMinDigit} digits)`;
      } else if (valWithoutSpaces.length <= 5) {
        this.typeHandler((this.creditType = this.getCreditType(valWithoutSpaces)));
        if (this.creditType === 'other') {
          this.creditFeedbackMessage = 'Only Amex, Visa and Master cards are accepted';
        }
      } else if (valWithoutSpaces.length > 5 && valWithoutSpaces.length < this.creditMinDigit) {
        this.creditFeedbackMessage = `Required (min length of ${this.creditMinDigit} digits)`;
      } else if (valWithoutSpaces.length >= this.creditMinDigit) {
        if (this.creditType !== 'other') {
          this.numberHandler(valWithoutSpaces);
          this.creditFeedbackMessage = '';
        } else {
          this.numberHandler(null);
          this.creditFeedbackMessage = 'Only Amex, Visa and Master cards are accepted';
        }
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        this.creditValidationState = {
          state: !$v.$invalid,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-number {
  > label {
    color: var(--payment-credit-label-color);
  }
  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
  }
}
</style>
