<template>
  <b-col cols="2" md="3" lg="3" xl="2" class="payment-credit-cvc">
    <label for="credit-cvc" class="d-block text-right mb-0">CVC</label>
    <b-form-input
      v-mask="cvcMask"
      v-model.lazy="$v.cvcDigit.$model"
      @input="inputHandler"
      @blur.native="blurHandler($v.cvcDigit)"
      v-bind="cvcValidationState"
      type="text"
      :placeholder="cvcPlaceholder"
      id="credit-cvc"
      aria-describedby="input-cvc-invalid-feedback"
    />
    <b-form-invalid-feedback id="input-cvc-invalid-feedback" class="text-right"
      >Required (min length of {{ cvcMinLength }} chars)</b-form-invalid-feedback
    >
  </b-col>
</template>

<script>
import { mask } from 'vue-the-mask';
import { required, minLength } from 'vuelidate/lib/validators';

export default {
  name: 'PaymentCreditCvc',
  directives: {
    mask,
  },
  props: {
    cvcHandler: {
      type: Function,
      default: () => ({}),
    },
    creditType: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      cvcDigit: '',
      cvcMinLength: 3,
      cvcValidationState: {},
      amexMask: '####',
      amexPlaceholder: '0000',
      otherMask: '###',
      otherPlaceholder: '000',
    };
  },
  validations() {
    return {
      cvcDigit: {
        required,
        minLength: minLength(this.cvcMinLength),
      },
    };
  },
  watch: {
    creditType(val) {
      this.cvcMinLength = val === 'amex' ? 4 : 3;
    },
  },
  computed: {
    cvcMask() {
      return this.creditType === 'amex' ? this.amexMask : this.otherMask;
    },
    cvcPlaceholder() {
      return this.creditType === 'amex' ? this.amexPlaceholder : this.otherPlaceholder;
    },
  },
  methods: {
    inputHandler(val) {
      if (val.length === this.cvcMinLength) {
        this.cvcHandler(val);
      } else {
        this.cvcHandler(null);
      }
    },
    blurHandler($v) {
      if ($v.$dirty) {
        this.cvcValidationState = {
          state: !$v.$invalid,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.payment-credit-cvc {
  > label {
    color: var(--payment-credit-label-color);
  }

  > input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0 0 0.25rem 0;
    height: auto;
    background: none;
    text-align: end;
    &.bolder {
      font-weight: 900;
    }
  }
}
</style>
